body {
    font-family: 'Open Sans', sans-serif;
}
.modal-dialog {
    width: 98%;
    height: 96%;
}
.modal-dialog-content {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 38px;
    bottom: 7px;
}
.modal-dialog-buttons {
    position: absolute;
    left: 309px;
}
.modal-dialog-buttons button {
    background-color: #ab1511;
    padding: 4pt 10pt 4pt 10pt;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}
.modal-dialog-buttons button[disabled] {
    background-color: #9d9d9d;
    cursor: default;
}
.goog-buttonset-default {
    font-weight: normal;
}
#mapdialog-content {
}
#mapdialog-topmenu {
    position: absolute;
    left: 310px;
    top: 15px;
    bottom: 50px;
    right: 0px;
}
#mapdialog-topmenu .goog-image-button {
    position: absolute;
    top: 0;
    left: 275px;
}
#mapdialog-map {
    position: absolute;
    left: 303px;
    top: 50px;
    bottom: 0px;
    right: 0px;
    /*width: 200px;
    height: 200px;*/
    margin: 0px;
    padding: 0px;
}
#mapdialog-leftmenu {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 300px;
    overflow-y: auto;
    border-right: 3px solid #C9DFFD;
}
#mapdialog-leftmenu .heading {
    padding: 20px;
    padding-bottom: 12px;
    font-weight: bold;
    border-bottom: 1px solid #c9c9c9;
}
#mapdialog-search-form {
    margin: 10px;
}
#mapdialog-search-form input {
    font-size: 12px;
}
#mapdialog-search-form .icon-search {
    margin-right: 10px;
    color: gray;
    font-weight: bold;
    font-size: 17px;
}
.ac-renderer {
    left: 10px;
    top: 37px;
}
.goog-menuitem {
    white-space: normal !important;
    border-bottom: 1px solid #c9c9c9;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 100%;
}
.goog-menuitem-content {
    font-family: 'Open Sans', sans-serif;
}
.goog-menu {
    border: none;
}
.olControlPanel {
    right: 0px;
}
.create-bbox {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    height: 22px;
    width: 22px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px 4px 4px 4px;
    text-align: center;
    padding: 3px;
}
.create-bbox-content {
    height: 22px;
    width: 22px;
    color: #06c;
    background: rgb(0, 60, 136);
    background: rgba(0, 60, 136, 0.5);
    border-radius: 4px 4px 4px 4px;
    font-family: serif;
    font-weight: bold;
    line-height: 22px;
}
.create-bbox-content:hover {
    background: #130085;
    background: rgba(0, 60, 136, 0.7);
}
.olControlDrawFeatureItemActive .create-bbox-content {
    color: rgb(245, 184, 0);
    background: #FFE38F;
    background: rgba(245, 184, 0, 0.5);
}
#loading-overlay {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 100000;
    background-image:url('../img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position:center;
    background-color: white;
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=70);

    /* Older than Firefox 0.9 */
    -moz-opacity:0.7;

    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.7;

    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.7;
}
.create-bbox {
    display: none;
}